<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

{% if page.url == "/" %}
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
{% endif %}

{% if page.url == "/research/" %}
  <link rel="stylesheet" href="{{ '/assets/css/research.css' | relative_url }}">
{% endif %}

{% if page.url == "/publications/" %}
  <link rel="stylesheet" href="{{ '/assets/css/publications.css' | relative_url }}">
{% endif %}


{% if page.url == "/group/" %}
  <link rel="stylesheet" href="{{ '/assets/css/group.css' | relative_url }}">
{% endif %}