<link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">

{% if page.url == "/" %}
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
{% endif %}

{% if page.url == "/research/" or page.url == "/research-hex/" %}
  <link rel="stylesheet" href="{{ '/assets/css/research.css' | relative_url }}">
{% endif %}

{% if page.url == "/publications/" %}
  <link rel="stylesheet" href="{{ '/assets/css/publications.css' | relative_url }}">
{% endif %}

{% if page.url == "/group/" or page.url == "/group-2/" %}
  <link rel="stylesheet" href="{{ '/assets/css/group.css' | relative_url }}">
{% endif %}
